/*
 * Visual plugin for JQuery
 * Mediawiki Visualization Context Extension
 * https://github.com/maparrar/Visual
 * maparrar (http://maparrar.github.io/ - maparrar(at)gmail(dot)com )
 * Dec 2013
 **/
.vw_window{
    background: #dcffd1;
    border: solid 1px #cccccc;
    border-radius: 5px;
    bottom: 2px;
    font-size:.8em;
    height:100px;
    line-height:15px;
    overflow:auto;
    position:fixed;
    right: 2px;
    top: 2px;
    width:100px;
    z-index:255;
}
.vw_max{
    width: 20%;
}
.vw_window #vw_title{
    background: #dcffd1;
    height:20px;
}
.vw_window #vw_title #vw_name{
    color: #276614;
    float:left;
    font-weight: bold;
    line-height: 20px;
    text-indent:3px;
}
.vw_window #vw_title #vw_resize{
    cursor:pointer;
    float:right;
    text-align:center;
    width:15px;
}
.vw_window #vw_canvas{
    background: #fff;
}
.vw_window #vw_content{
    background: #EAFFE4;
    bottom:3px;
    left:3px;
    overflow:auto;
    position:absolute;
    right:3px;
    top:15px;
}
.vw_window #vw_content .vw_field{
    margin-top: 10px;
}
.vw_window #vw_content .vw_link{
    border-bottom: 1px solid #999;
    font-weight: bold;
    margin: 0 5px;
}
.vw_window #vw_content .vw_items{
    margin-left: 10px;
}
.vw_window #vw_content .vw_item{
    margin-top: 5px;
}
.vw_highlighted{
    background: #dcffd1;
    border: solid 1px #cccccc;
    border-radius: 3px;
    color: #276614;
    font-weight: bold;
    padding: 1px;
}